main{
    /* background-color: black; */
    border: 1px solid red;
    position: absolute;
    left: 30%;
}

.section{
    border: blue 1px solid;
    margin: 2vh;
}

.personal-info{
display: flex;
justify-content: space-between;
/* align-items: center; */
}

.personal-info div{
    height: max-content;
    display: flex;
    align-self: center;
    position: relative;
    margin-right: 2vw;
}

.personal-info div button{
    color: green;
    /* align-content: center; */
}

.img-date-container{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    align-items: center;
}

/* End of comment */

/* Input comment */
#input-section{
border: solid 1px black;
margin-top: 20vh;

display: flex;
/* justify-content: space-around; */

align-items: center;

padding: 2vh;
}

#input-section>img{
    width: min-content;
    height: min-content;
}

#input-section>textarea{
    width: 50%;
    height: min-content;
    margin-left:5vw ;
}

#input-section>button{
    color: aliceblue;
text-transform: uppercase;
letter-spacing: 0.1pc;

    padding: 1vw 1vw;
    margin-left: 10vw;

    background-color: rgb(92, 57, 220);

    border: none;
    border-radius:3px ;
}