@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');



body{
    background-color: aliceblue;
}

main{
    /* background-color: black; */
    border: 1px solid red;
    position: absolute;
    left: 30%;

    font-family: 'Poppins', sans-serif;

}

.section{
    border: blue 1px solid;
    margin: 2vh;

    background-color: rgb(255, 255, 255);
}

.personal-info{
display: flex;
justify-content: space-between;
/* align-items: center; */
}

.personal-info div{
    height: max-content;
    display: flex;
    align-self: center;
    position: relative;
    margin-right: 2vw;
}

.personal-info div button{
    color: green;
    /* align-content: center; */
}

.img-date-container{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    align-items: center;
}

/* Profile name and date of the post */
.img-date-container:nth-child(1){
color: rgb(80, 80, 80);
font-weight: 700;
}


/* End of comment */

/* Input comment */
#input-section{

position: fixed;
bottom: 5%;
left: 30%;

border: solid 1px black;
margin-top: 20vh;

display: flex;
align-items: center;

padding: 2vh;
background-color: rgb(255, 255, 255);
}

#input-section>img{
    width: min-content;
    height: min-content;
}

#input-section>textarea{
    width: 50%;
    height: min-content;
    margin-left:5vw ;
}

#input-section>button{
    color: aliceblue;
text-transform: uppercase;
letter-spacing: 0.1pc;

    padding: 1vw 1vw;
    margin-left: 10vw;

    background-color: rgb(92, 57, 220);

    border: none;
    border-radius:3px ;
}



